<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">

    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="main-contant">
        {{>header}}
        <p>This site was create by Yoni Costa, It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="images/robot.png">
        <p>{{name}}</p>
    </div>

    {{>footer}}

</body>

</html>